.DS_Store
node_modules/
*.log
.env
.env.local
.env.*.local
*.pyc
__pycache__/
venv/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
ios/Pods/
android/.gradle/
*.apk
*.ipa
